:root {
/* body — основной фон */
--c-bg: #1b1b1f;

/* sidenav — фон боковой панели */
--sidebar-bg-color: #161618;   /* = --vp-c-bg-alt */

/* прочее из их тёмной темы: */
--c-bg-elv:  #202127;   /* приподнятые поверхности (карточки, модалки) */
--c-bg-soft: #202127;   /* мягкие подложки */

/* текст */
--c-text-1: #dfdfd6;    /* основной текст */
--c-text-2: #98989f;    /* вторичный */
--c-text-3: #929295;    /* приглушённый */

/* бренд/акцент */
--c-brand: #f56565;     /* их фирменный красный */
--c-border: #3c3f44;    /* границы */

  /* Скругления */
  --radius-sm: 8px;
  --radius-md: 12px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--c-bg);
    color: var(--c-text-1);
}


